body {
    background-color: #feffff;
    height: auto;
    padding: 0;
    margin: 0;
}

#clls {
    background-color: #8a7d2c;
}

header {
    box-shadow: 0px 15px 5px -15px #111;
    height: auto;
}

.chatbox {
    padding: 15px;
    display: none;
    background-color: rgb(226, 226, 226);
    height: auto;
    box-sizing: border-box;
    float: right;
    z-index: 100;
    top: 80px;
    right: 20px;
    border: solid 3px rgb(63, 116, 250);
    box-shadow: 0px 15px 5px -15px #111;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 85%;

}

.toplogo {
    width: 170px;
}

.h100 {
    height: 100%;
}

.cct {
    border: none;
    outline: none;
    justify-content: center;
    color: #8a7d2c;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
    background-color: #f9de38;
}

.cct:hover {
    text-decoration: none;
}

.bg-image {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-image: url("assets/banner.svg");
    background-size: cover;
    background-position: center;
}

.hlp {
    margin-top: 40px;
    color: white;
    font-size: 4vmax;
}

.srch {
    padding-left: 15px;
    border-radius: 3px;
    background-color: white;
}

.srchbar {
    background: none;
    border: none;
    outline: none;
    width: 90%;
    height: 50px;

}

.catitem {
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(222, 222, 222);
}

.catagory {
    width: auto;
}

.artList {
    box-sizing: border-box;
    list-style: none;
}

.listItem {
    box-sizing: border-box;
    border-bottom: solid 1px #cbcbcb;
}

.artList a {
    color: #1C1B21;
}

.artList a:hover {
    color: #111;
}

.footer {
    border-top: solid 5px rgb(79, 79, 231);
    box-sizing: border-box;
}

.str {
    width: 10px;
}

.ender {
    border-top: solid 1px #eaeaea;
    border-bottom: solid 1px #eaeaea;
}

.ender ul {
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.ender ul h6 {
    font-weight: 800;
}



@media screen and (max-width: 768px) {
    .toplogo {
        width: 150px;
    }

}

@media screen and (max-width: 425px) {

    .bg-image {
        height: 250px;
    }

}

@media screen and (min-width: 435px) {

    .bg-image {
        height: 300px;
    }

    .toplogo {
        height: 50px;
        width: auto;
    }

}
@media screen and (max-width: 435px) {
 
   

}

@media screen and (min-width: 2560px) {
    .toplogo {
        width: 300px;
        height: auto;
    }

    .cct {
        font-size: 20px;
    }

    .bg-image {
        height: 450px;
    }

    .srchbar {
        height: 90px;
    }

    .chatbox {
        height: 1000px;
        top: 120px;
        right: 50px;
    }
}

@media screen and (min-width: 320px) {
    .srchbar {
        width: 88%;
    }
}

@media screen and (max-width: 768px) {
    .srchbar {
        width: 88%;
    }
}

@media screen and (min-width: 768px) {}

/* chat bot................. */
.chattag{
    font-weight: 900;
    color: #0101ff;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}
.chbody{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.chbody input{
    padding-left: 20px;
    opacity: 1 !important;
    border-radius: 10px;
    width: 90%;
    margin-top: 15px;
    height: 40px;
    border: solid 2px rgb(79, 79, 231);
    outline: none;
}
.chbody button{
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    text-align: center;
    color: #2a2aff;
    font-weight: 700;
    font-size: 20px;
    border: solid #0101ff 2px;
    background-color: rgb(255, 255, 255);
}
.chbody button:hover{
    background-color: #0101ff;
    color: white;
}
.formAlrt{
    font-weight: 900;
    font-size: small;
    color: rgb(255, 80, 80);
    margin: 0;
    padding: 0;
}